@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.page {
  overflow-x: hidden;
}

.homeError {
  margin: 24px 0;
  color: $gray-color;
  font-size: $font-size-14;
}

.homeTitle {
  margin: 24px 0;

  @include tablet {
    margin: 32px 0;
  }

  @include desktop {
    margin: 56px 0;
  }
}
